@model IEnumerable<Order>
<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Номер т.с.</th>
            <th>Период</th>
            <th>Маршрут</th>
            <th>Состояние</th>
            <th>Компания</th>
            <th>Вид груза</th>
            <th>Расстояние</th>
            <th>Цена</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>

    <tbody>
        @{
            if (Model != null)
            {
                foreach (var _item in Model)
                {
                    <tr>
                        <td>@_item.Truck.TruckLicState</td>
                        <td>
                            @if (_item.EndDate.HasValue)
                            {
                                @_item.StartDate.ToShortDateString()<text> - </text>@_item.EndDate.Value.ToShortDateString()
                            }
                            else
                            {
                                @_item.StartDate.ToShortDateString()<text> - ...</text>
                            }
                        </td>
                        <td>@_item.DepPoint - @_item.EndPoint</td>
                        <td>@_item.State.GetDisplayName()</td>
                        <td>@_item.CompanyName</td>
                        <td>@_item.TypeOfCargo.GetDisplayName()</td>
                        <td>@_item.Distance.ToString()</td>
                        <td>@_item.Price</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-group" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a asp-controller="Order" asp-action="Details" asp-route-id="@_item.Id" class="dropdown-item">
                                        Подробнее
                                    </a>
                                    <a asp-controller="Order" asp-action="Edit" class="dropdown-item" asp-route-item="@_item.Id">
                                        Изменить заказ
                                    </a>
                                    <button type="button" class="dropdown-item close-order-item-btn" btn-close-order-item-id="@_item.Id">
                                        Закрыть заказ
                                    </button>
                                    <button type="button" class="dropdown-item delete-item-btn" btn-delete-item-id="@_item.Id">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                           
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>