@using WebApp_TransportCompany.Models.Enums
@model IEnumerable<Salary>

<table class="table table-hover dataTable" id="salary-table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Сотрудник</th>
            <th>Период</th>
            <th>Сумма</th>
            <th>Оплата</th>
            <th>Дата оплаты</th>
            <th>Списано</th>
            <th>Итого</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>

    <tbody>
        @{
            if (Model != null)
            {
                foreach (var _item in Model)
                {
                   
                    <tr>
                        <td>
                            <a asp-controller="Driver" asp-action="Details"
                               asp-route-id="@_item.Driver.Id">@_item.Driver.Name@_item.Driver.Surname</a>
                        </td>
                        <td>
                            @_item.StartPeriod.ToShortDateString() - @_item.EndPeriod.ToShortDateString()
                        </td>
                        <td>@_item.PaymentMethod.GetDisplayName()</td>
                        <td>@_item.OperationDate.ToShortDateString()</td>
                        <td>@_item.WrittenOff</td>
                        <td>@_item.Total</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-group" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a data-toggle="ajax-modal" item-url="/Salary/Details/@_item.Id" class="dropdown-item">
                                        Подробнее
                                    </a>
                                    <a data-toggle="ajax-modal" item-url="/Salary/Edit/@_item.Id" class="dropdown-item" asp-route-item="@_item.Id">
                                        Изменить
                                    </a>
                                    <button type="button" class="dropdown-item delete-item-btn" btn-delete-item-id="@_item.Id">
                                        Удалить
                                    </button>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>