@using WebApp_TransportCompany.Repositories
@using WebApp_TransportCompany.ViewModels
@using WebApp_TransportCompany.Models.Enums
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IStatisticsRepository _statisticsRepository
@inject IUserRepository _userRepository

@section Styles{

}
@{
    var identityUser = await _userRepository.GetIdentityUser(User);
    var driverStatsVm = new ChartLinePartialViewModelBuilder()
        .Build(await _statisticsRepository.GetDriverStatistics(identityUser, null));
    var truckStatsVm = new ChartLinePartialViewModelBuilder()
        .Build(await _statisticsRepository.GetTruckStatistics(identityUser, null));
    var earningsStatsVm = new ChartLinePartialViewModelBuilder()
        .Build(await _statisticsRepository.GetOrderStatistic(identityUser, null));
}
<!-- Page Heading -->
@*<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Главная страница</h1>
    </div>*@

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Свободных грузовиков</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <a asp-controller="Truck" asp-action="IndexTruck"
                               asp-route-status="@TruckStatus.Free">@_statisticsRepository.GetStatusTruckCount(identityUser, TruckStatus.Free)</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-truck fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Сломанные грузовики</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <a asp-controller="Truck" asp-action="IndexTruck" asp-route-condition="@TruckCondition.IsBroken">@_statisticsRepository.GetConditionTruckCount(identityUser, TruckCondition.IsBroken)</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-toolbox fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Открытые заказы</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    <a asp-controller="Order" asp-action="IndexOrder" asp-route-state="@OrderState.Open">@_statisticsRepository.GetStatusOrderCount(identityUser, OrderState.Open)</a>

                                </div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Неоплаченные заказы</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <a asp-controller="Order" asp-action="IndexOrder" asp-route-paid="false">@_statisticsRepository.GetPaidOrderCount(identityUser, false)</a>

                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- Content Row -->
<!-- Truck Line  Chart -->
<div class="row">
    <div class="col-xl-12 col-md-12 mb-auto">
        <div class="card shadow">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Статистика по прибыльности грузовиков</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body row">
                <div class="list-group col-md-3" style="max-height: 20px">
                    @{
                        foreach (var item in truckStatsVm.ChartDatasets)
                        {

                            <a asp-controller="Truck" asp-action="Details" asp-route-truck="@item.id" class="list-group-item list-group-item-action">
                                <span class="mr-2">
                                    <i class="fas fa-circle" style="color:@item.borderColor "></i> @item.label
                                </span>

                            </a>
                        }
                    }
                </div>

                <div class="col-md-9">
                    <canvas id="truckLineChart" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Driver Line  Chart -->
<div class="row">
    <div class="col-xl-12 col-md-12 mb-auto">

        <div class="card shadow col-12">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Статистика по прибыльности водителей</h6>

            </div>
            <div class="card-body row">
                <div class="list-group col-md-3">
                    @{
                        foreach (var item in driverStatsVm.ChartDatasets)
                        {

                            <a asp-controller="Truck" asp-action="Details" asp-route-truck="@item.id" class="list-group-item list-group-item-action">
                                <span class="mr-2">
                                    <i class="fas fa-circle" style="color:@item.borderColor "></i> @item.label
                                </span>

                            </a>
                        }
                    }
                </div>

                <!-- Card Body -->
                <div class="col-md-9">
                    <canvas id="driverLineChart" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 mb-auto">

        <!-- Order Line  Chart -->
        <div class="card shadow col-12">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Статистика по прибыльности</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body row">
                <div class=col-md-3>

                </div>
                <div class="col-md-9">
                    <canvas id="earningsLineChart" height="400"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    @{ await Html.RenderPartialAsync("_TruckChartLineScriptsPartial", truckStatsVm);}
    @{ await Html.RenderPartialAsync("_DriverChartLineScriptsPartial", driverStatsVm);}
    @{ await Html.RenderPartialAsync("_EarningsChartLineScriptsPartial", earningsStatsVm);}
    <partial name="_AjaxModalScriptPartial" />

}

