@model Wheel
<div class="modal fade" id="wheel-edit-modal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Детальная информации о колесе</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Наименование</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <a asp-controller="Truck" asp-action="Details" asp-route-truck="@Model.Truck.Id" class="form-control-plaintext">@Model.Truck.TruckLicState @Model.Truck.Name @Model.Truck.Model</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Расположение</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Place.GetDisplayName()">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Состояние</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Condition.GetDisplayName()">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Дата установки</label>
                    <div class="col-sm-10">
                        <input type="datetime" readonly class="form-control-plaintext" value="@Model.InstallationDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Стоимость</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Price">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Пробег</label>
                    <div class="col-sm-10">
                        <input type="number" readonly class="form-control-plaintext" value="@Model.CurrentMileage">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Дата поломки</label>
                    <div class="col-sm-10">
                        <input type="datetime" readonly class="form-control-plaintext"
                               value="@{var str = Model.BreakdownDate.HasValue ? Model.BreakdownDate.Value.ToShortDateString() : "Исправно";}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Примечание</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Note">
                    </div>
                </div>
                @if (Model.PreviousWheel != null)
                {
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <a data-toggle="ajax-modal" item-url="/Wheel/Details/@Model.PreviousWheel.Id" class="form-control-plaintext">@Model.PreviousWheel.Name - @Model.PreviousWheel.InstallationDate.ToShortDateString()</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>