@model WebApp_TransportCompany.ViewModels.TruckDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row ">
    <!-- Collapsable Card Example -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-truck-tab" data-toggle="tab" href="#nav-truck" role="tab" aria-controls="nav-truck" aria-selected="true">Грузовик</a>
                        <a class="nav-item nav-link" id="nav-drivers-tab" data-toggle="tab" href="#nav-drivers" role="tab" aria-controls="nav-drivers" aria-selected="false">Водители</a>
                        <a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false">Заказы</a>
                        <a class="nav-item nav-link" id="nav-repairs-tab" data-toggle="tab" href="#nav-repairs" role="tab" aria-controls="nav-repairs" aria-selected="false">Ремонт</a>
                        <a class="nav-item nav-link" id="nav-fuel-tab" data-toggle="tab" href="#nav-fuel" role="tab" aria-controls="nav-fuel" aria-selected="false">Расход топлива</a>
                        <a class="nav-item nav-link" id="nav-reports-tab" data-toggle="tab" href="#nav-reports" role="tab" aria-controls="nav-reports" aria-selected="false">Отчеты</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active row" id="nav-truck" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="card-body">
                            <div class="col-8">
                                <h2>@Model.Truck.TruckLicState <small>@Model.Truck.Name @Model.Truck.Model</small></h2>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="card-body col-auto">

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Номер</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.TruckLicState">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Год выпуска</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.YearOfIssue">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Тип</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.Type">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Пробег</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.Mileage">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body col-auto">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Состояние</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.Condition">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Статус</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.Status">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Грузоподъемность</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.WeightLimit">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Объем</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control" value="@Model.Truck.MaxSize">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-drivers" role="tabpanel" aria-labelledby="nav-profile-tab">

                        @if (Model.Drivers.Count() == 0)
                        {
                            <div class="card-body">
                                <h4>Водители отсутсвуют</h4>
                            </div>

                        }
                        else
                        {
                            @foreach (Driver _driver in Model.Drivers)
                            {
                                <div class="container row">
                                    <div class="card-body border-bottom-primary">
                                        <div class="card-body">
                                            <a asp-controller="Driver" asp-action="Details"
                                               asp-route-id="@_driver.Id" class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">@_driver.Name @_driver.Surname</span>
                                            </a>
                                        </div>
                                        <div class="card-body row">
                                            <div class="card-body col-auto">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Телефон</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" readonly class="form-control" value="880002232">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card-body col-auto">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Статус</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" readonly class="form-control" value="@_driver.DriverStatus">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>

                    <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="container row">
                            @if (Model.Orders == null)
                            {
                                <div class="card-body col-auto">
                                    <h1>Отсутствуют</h1>
                                </div>

                            }
                            else
                            {
                                <div class="card-body col-auto">
                                    <h1>Последнии 10 заказов</h1>
                                </div>
                                <div class="card-body col-auto">
                                    <a asp-controller="Order" asp-action="IndexOrder" asp-route-truck="@Model.Truck" class="btn btn-primary">Просмотреть все</a>
                                </div>
                                <div class="card-body col-auto">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Период</th>
                                                    <th>Маршрут</th>
                                                    <th>Груз</th>
                                                    <th>Цена</th>
                                                    <th>Расстояние</th>
                                                    <th>Состояние</th>
                                                    <th data-orderable="false" style="width:100px"></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{
                                                    foreach (var _item in Model.Orders)
                                                    {
                                                        <tr>
                                                            <td>#</td>
                                                            <td>
                                                                @_item.StartDate.ToShortDateString() -
                                                                @if (_item.EndDate.HasValue)
                                                                {
                                                                    _item.EndDate.Value.ToShortDateString();
                                                                }
                                                                else
                                                                {
                                                                    <text>None</text>
                                                                }
                                                            </td>
                                                            <td>@_item.DepPoint - @_item.EndPoint</td>
                                                            <td>@_item.TypeOfCargo</td>
                                                            <td>@_item.Price</td>
                                                            <td>@_item.Distance</td>
                                                            <td>@_item.State</td>
                                                            <td>
                                                                <a asp-controller="Order" asp-action="Details" asp-route-truck="@_item.Id" style="float:left" class="btn btn-info btn-circle btn-sm">
                                                                    <i class="fas fa-info-circle"></i>
                                                                </a>
                                                                <a asp-controller="Order" asp-action="Edit" class="btn btn-warning btn-circle btn-sm" asp-route-truck="@_item.Id">
                                                                    <i class="fas fa-pen"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-repairs" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="container row">
                            @if (Model.Repairs == null)
                            {
                                <div class="card-body col-auto">
                                    <h1>Отсутствуют</h1>
                                </div>

                            }
                            else
                            {
                                <div class="card-body col-auto">
                                    <h1>Последнии 10 ремонтов</h1>
                                </div>
                                <div class="card-body col-auto">
                                    <a asp-controller="Repair" asp-action="IndexRepair" asp-route-truck="@Model.Truck" class="btn btn-primary">Просмотреть все</a>
                                </div>
                                <div class="card-body col-auto">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Дата</th>
                                                    <th>Вид ремонта</th>
                                                    <th>Предыдущая дата ремонта</th>
                                                    <th>Цена</th>
                                                    <th>Гарантия</th>
                                                    <th>Окончание гарантии</th>
                                                    <th>Компания</th>
                                                    <th data-orderable="false" style="width:100px"></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{
                                                    foreach (Repair _item in Model.Repairs)
                                                    {
                                                        <tr>
                                                            <td>#</td>
                                                            <td>@_item.RepairDate</td>
                                                            <td>@_item.RepairType</td>
                                                            <td>@_item.PreviousRepairDate</td>
                                                            <td>@_item.Price</td>
                                                            <td>
                                                                @if (_item.Guarantee)
                                                                {
                                                                    <text>Есть</text>
                                                                }
                                                                else
                                                                {
                                                                    <text>Отсутсвует</text>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (_item.GuaranteeDeadline.HasValue)
                                                                {
                                                                    _item.GuaranteeDeadline.Value.ToShortDateString();
                                                                }
                                                                else
                                                                {
                                                                    <text>Нет</text>
                                                                }
                                                            </td>
                                                            <td>@_item.CompanyName</td>
                                                            <td>
                                                                <a asp-controller="Repair" asp-action="Details" asp-route-truck="@_item.Id" style="float:left" class="btn btn-info btn-circle btn-sm">
                                                                    <i class="fas fa-info-circle"></i>
                                                                </a>
                                                                <a asp-controller="Repair" asp-action="Edit" class="btn btn-warning btn-circle btn-sm" asp-route-truck="@_item.Id">
                                                                    <i class="fas fa-pen"></i>
                                                                </a>
                                                                @*<button type="button" class="btn btn-danger btn-circle btn-sm delete-truck-btn" btn-delete-truck-id="@_truck.Id">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>*@
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            }

                        </div>

                    </div>



                    <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="container row">
                            @if (Model.Reports == null)
                            {
                                <div class="card-body col-auto">
                                    <h1>Отсутствуют</h1>
                                </div>

                            }
                            else
                            {
                                <div class="card-body col-auto">
                                    <h1>Последнии 10 отчетов</h1>
                                </div>
                                <div class="card-body col-auto">
                                    <a asp-controller="Report" asp-action="IndexReport" asp-route-truck="@Model.Truck" class="btn btn-primary">Просмотреть все</a>
                                </div>
                                <div class="card-body col-auto">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Период</th>
                                                    <th>Пробег</th>
                                                    <th>Денег выдано</th>
                                                    <th>Денег потрачено</th>
                                                    <th>Денег осталось</th>
                                                    <th data-orderable="false" style="width:100px"></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{
                                                    foreach (var _item in Model.Reports)
                                                    {
                                                        <tr>
                                                            <td>#</td>
                                                            <td>@_item.ArrivalDate.ToShortDateString() - @_item.DepartureDate.ToShortDateString()</td>
                                                            <td>@{var mileage = _item.ArrivalMileage - _item.DepartureMileage;}</td>
                                                            <td>@_item.ReceivedMoney</td>
                                                            <td>@_item.SpentMoney</td>
                                                            <td>@{var money = _item.ReceivedMoney - _item.SpentMoney;}</td>
                                                            <td>
                                                                <a asp-controller="Report" asp-action="Details" asp-route-truck="@_item.Id" style="float:left" class="btn btn-info btn-circle btn-sm">
                                                                    <i class="fas fa-info-circle"></i>
                                                                </a>
                                                                <a asp-controller="Report" asp-action="Edit" class="btn btn-warning btn-circle btn-sm" asp-route-truck="@_item.Id">
                                                                    <i class="fas fa-pen"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
