@model Truck
@using WebApp_TransportCompany.Models.Enums
@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header">
        <h1>Изменение</h1>
    </div>
    <div class="card-body">
        <form asp-controller="Truck" asp-action="Create" method="post">
            <div class="form-group row">
                <label asp-for="TruckLicState" class="col-sm-3 col-form-label">Номер:</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="TruckLicState" class="form-control" id="recipient-name" value="@Model.TruckLicState">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label">Наименование:</label>
                <div class="col-sm-9">
                    <input asp-for="Name" type="text" value="@Model.Name" class="form-control" id="recipient-name">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="Model" class="col-sm-3 col-form-label">Модель:</label>
                <div class="col-sm-9">
                    <input asp-for="Model" value="@Model.Model" class="form-control" id="recipient-name">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="YearOfIssue" class="col-sm-3 col-form-label">Год выпуска:</label>
                <div class="col-sm-9">
                    <input asp-for="YearOfIssue" value="@Model.YearOfIssue" type="datetime" class="form-control" id="recipient-name">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="Type" class="col-sm-3 col-form-label">Тип:</label>
                <div class="col-sm-9">
                    <select asp-for="Type" asp-items="@Html.GetEnumSelectList<TruckType>()" class="form-control">
                        <option selected>@Model.Type</option>
                    </select>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="Mileage" class="col-sm-3 col-form-label">Пробег:</label>
                <div class="col-sm-9">
                    <input asp-for="Mileage" value="@Model.Mileage" class="form-control">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="WeightLimit" class="col-sm-3 col-form-label">Грузоподъемность:</label>
                <div class="col-sm-9">
                    <input asp-for="WeightLimit" value="@Model.WeightLimit" class="form-control" id="recipient-name">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="MaxSize" class="col-sm-3 col-form-label">Объем:</label>
                <div class="col-sm-9">
                    <input asp-for="MaxSize" value="@Model.MaxSize" type="number" class="form-control">
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="Condition" class="col-sm-3 col-form-label">Состояние:</label>
                <div class="col-sm-9">
                    <select asp-for="Condition" asp-items="@Html.GetEnumSelectList<TruckCondition>()" class="form-control">
                        <option selected>@Model.Condition</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Status" class="col-sm-3 col-form-label">Статус:</label>
                <div class="col-sm-9">
                    <select asp-for="Status" asp-items="@Html.GetEnumSelectList<TruckStatus>()" class="form-control">
                        <option selected>@Model.Status</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer row justify-content-center">
                <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary col-sm-3">Добавить</button>
            </div>
        </form>
    </div>
</div>