@model WebApp_TransportCompany.ViewModels.TruckViewModel
@using WebApp_TransportCompany.Models.Enums
@section Styles{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="~/css/pnotify/pnotify.custom.css" rel="stylesheet">
}
<!-- Button trigger modal -->
<!-- Begin Page Content -->
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Trucks</h6>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
            Добавить грузовик
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Наименование</th>
                        <th>Модель</th>
                        <th>Тип</th>
                        <th>Год выпуска</th>
                        <th>Пробег</th>
                        <th>Состояние</th>
                        <th>Статус</th>
                        <th data-orderable="false" style="width:100px"></th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (Truck _truck in Model.Trucks)
                        {
                            <tr>
                                <td>@_truck.TruckLicState</td>
                                <td>@_truck.Name</td>
                                <td>@_truck.Model</td>
                                <td>@_truck.Type</td>
                                <td>
                                    @if (_truck.YearOfIssue.HasValue)
                                    {
                                        @_truck.YearOfIssue.Value.Date.ToShortDateString()
                                    }
                                    else
                                    {
                                        <label>None</label>
                                    }

                                </td>
                                <td>@_truck.Mileage</td>
                                <td>@_truck.Condition</td>
                                <td>@_truck.Status</td>
                                <td>
                                    <a asp-controller="Truck" asp-action="Details" asp-route-truck="@_truck.Id" style="float:left" class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a asp-controller="Truck" asp-action="Edit" class="btn btn-warning btn-circle btn-sm" asp-route-truck="@_truck.Id">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-circle btn-sm delete-item-btn" btn-delete-item-id="@_truck.Id">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- /.container-fluid -->
<!-- End of Main Content -->
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Добавить новый грузовик</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Truck" asp-action="Create" method="post">
                    <div class="form-group row">
                        <label asp-for="Truck.TruckLicState" class="col-sm-3 col-form-label">Номер:</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Truck.TruckLicState" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.Name" class="col-sm-3 col-form-label">Наименование:</label>
                        <div class="col-sm-9">
                            <input asp-for="Truck.Name" type="text" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.Model" class="col-sm-3 col-form-label">Модель:</label>
                        <div class="col-sm-9">
                            <input asp-for="Truck.Model" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.YearOfIssue" class="col-sm-3 col-form-label">Год выпуска:</label>
                        <div class="col-sm-9">
                            <input asp-for="Truck.YearOfIssue" type="datetime" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.Type" class="col-sm-3 col-form-label">Тип:</label>
                        <div class="col-sm-9">
                            <select asp-for="Truck.Type" asp-items="@Html.GetEnumSelectList<TruckType>()" class="form-control"></select>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.Mileage" class="col-sm-3 col-form-label">Пробег:</label>
                        <div class="col-sm-9">
                            <input type="number" asp-for="Truck.Mileage" class="form-control">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.WeightLimit" class="col-sm-3 col-form-label">Грузоподъемность:</label>
                        <div class="col-sm-9">
                            <input type="number" asp-for="Truck.WeightLimit" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.MaxSize" class="col-sm-3 col-form-label">Объем:</label>
                        <div class="col-sm-9">
                            <input asp-for="Truck.MaxSize" type="number" class="form-control">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.Condition" class="col-sm-3 col-form-label">Состояние:</label>
                        <div class="col-sm-9">
                            <select asp-for="Truck.Condition" asp-items="@Html.GetEnumSelectList<TruckCondition>()" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Truck.Status" class="col-sm-3 col-form-label">Статус:</label>
                        <div class="col-sm-9">
                            <select asp-for="Truck.Status" asp-items="@Html.GetEnumSelectList<TruckStatus>()" class="form-control"></select>
                        </div>
                    </div>
                    <div class="modal-footer row justify-content-center">
                        <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary col-sm-3">Добавить</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <partial name="~/Views/Shared/_DataTablesScriptsPartial.cshtml" />
}

